/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
}

.Register {
    max-width: 1000px; /* Adjusted maximum width */
    background-color: #ffffff;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 10px;
}

.heading {
    text-align: center;
    color: #013d67;
    font-family: 'Suez One', serif;
    font-size: 24px;
}

.profile-card {
    text-align: center;
    color: #a9d6e5;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(50px);
    max-width: 1000px;
    margin: auto;
    padding: 40px;
}

.profile-card h2 {
    font-family: 'Suez One', serif;
    color: #013d67;
}

.regform ul {
    list-style: none;
    padding: 0;
}

.regform li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.regform label {
    flex: 1;
    text-align: right;
    margin-right: 20px;
    color: #013d67;
}

.regform input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease;
}


.button-text {
    background-color: #61a5c2;
    color: #fdfcfc;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    font-family: 'Suez One', serif;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.button-text:hover {
    background-color: #013d67;
}

@media (max-width: 768px) {
    .Register {
        padding: 20px;
    }

    .regform input {
        padding: 10px;
    }
}

.editLink a, button {
    position: relative;
    text-decoration: none;
    color: #013D67;
    transition: color 0.3s;
    overflow: hidden; /* Ensures the overflow of the underline is hidden */
    margin-top: 10px;
}

.editLink a::after, button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: #013D67;
    transform: scaleX(0); /* Initially, hide the underline */
    transform-origin: bottom right; /* Set the origin to start from bottom right */
    transition: transform 0.3s ease-out;
}

.editLink a:hover::after, button:hover::after {
    transform: scaleX(1); /* Expand the underline on hover */
    transform-origin: bottom left; /* Change the origin to bottom left for expanding effect */
}

button {
    border: none;
    background-color: white;
}

