@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fafefe;
    overflow: hidden; /* Hide overflow */
}

/* Picture */
.bg-holder {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Login */
#wrapper h1 {
    font-weight: bold;
    font-family: 'Suez One', sans-serif;
    color: #013D67;
    text-align: center;
}
/* Inputbox */
#wrapper .input-box {
    position: relative;
}
.input-box input {
    background-color: #f7fcff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #DEEFF5;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s ease; /* Add transition for border-color */
}
.input-box input:hover{
    transform: scale(1.04);
    border-color: #013D67; 
}
.input-box input::placeholder {
    color: #013D67;
}
.input-box i {
    position: absolute;
    transform: translateY(-50%);
    color: #013D67;
}
#wrapper .back{
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
#wrapper .back:hover{
    transform: scale(1.01);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);/* Change background color on hover */
}
/* Log In */
#wrapper .btn {
    background: #61A5C2;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fdfcfc;
    font-weight: bold;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
#wrapper .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);/* Change background color on hover */
}
#wrapper .textBtn{
    text-decoration: none; 
    color: white; 
    background: none;
    border: none;
    font-weight: bold;
    align-items: center;
}
#wrapper .backTo{
    text-decoration: none; 
    color: #61A5C2;
}
.form-label{
    font-size: 21px;
    font-weight: bold;
    color: #013D67;
    margin-left: 65px;
}
/* Media Queries */
@media (min-width: 400px) {
    #wrapper {
        max-width: 550px;
    }
    #wrapper h1{
        font-size: 36px;
        margin-top: 200px;
    }
    .input-box input {
        width: 80%;
        font-size: 18px;
        padding: 18px;
        margin-left: 65px;
    }
    .input-box i {
        right: 60px;
        top: 55%;
        font-size: 25px;
    }
    #wrapper .btn {
        width: 80%;
        font-size: 16px;
        margin-left: 67px;
    }
    #wrapper .back{
        width: 80%;
        padding: 18px;
        margin-left: 67px;
        font-size: 16px;
    }
    #wrapper .textBtn{
        font-size: 18px;
        margin-top: 10px;
    }
    #wrapper .backTo{
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    #wrapper {
        max-width: 550px;
    }
    #wrapper h1{
        font-size: 36px;
        margin-top: 200px;
    }
    .input-box input {
        width: 80%;
        font-size: 18px;
        padding: 18px;
        margin-left: 65px;
    }
    .input-box i {
        right: 60px;
        top: 55%;
        font-size: 25px;
    }
    #wrapper .btn {
        width: 80%;
        font-size: 16px;
        margin-left: 67px;
    }
    #wrapper .back{
        width: 80%;
        padding: 18px;
        margin-left: 67px;
        font-size: 16px;
    }
    #wrapper .textBtn{
        font-size: 18px;
        margin-top: 10px;
    }
    #wrapper .backTo{
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    #wrapper {
        max-width: 550px;
    }
    #wrapper h1{
        font-size: 36px;
        margin-top: 140px;
    }
    .input-box input {
        width: 80%;
        font-size: 18px;
        padding: 18px;
        margin-left: 65px;
    }
    .input-box i {
        right: 60px;
        top: 55%;
        font-size: 25px;
    }
    #wrapper .btn {
        width: 80%;
        font-size: 16px;
        margin-left: 67px;
    }
    #wrapper .back{
        width: 80%;
        margin-left: 67px;
        font-size: 16px;
    }
    #wrapper .textBtn{
        font-size: 18px;
        margin-top: 18px;
    }
    #wrapper .backTo{
        font-size: 16px;
    }
}
