
*{
    margin: 0;
    padding: 0;  
}

.section {
    min-height: 200vh;
    position: absolute;
}

body{
    background-color: #ffffff !important;
}
/* ------------------- PRODUCT ------------------- */
#sizes{
    text-align: center;
    font: bolder;
    font-size: larger;
}
/* ------------------- Category ------------------- */
h4#category-card-title-header{
    font-size:30px;
    color: #013D67;
}
p#category-card-texxt-header{
    font-size: 18px;
    padding-top: 4px;
}
.category{
    margin-top: 50px;
    font: bolder;
    font-size: larger;
    padding-top: 90px;
}
#categ.category{
    margin-bottom: 20px;
}


.card-title{
    font-size:25px;
}

h5.card-title{
    color: #013D67;

}

.card-text{
    font-size: 20px;
    text-align: justify;
    padding-top: 5px;
}




/* ------------------- Quantity ------------------- */
.qty .count {
    color: #000000;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
.qty {
    text-align: right;
    padding-left: 10px;

}
.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{  
    border: 0;
    width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}

#minus{
    background-color: #AAD7F6;
}

#plus{
    background-color: #AAD7F6;
}

.addqty{
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: #000000;
}
.submit{
    color: white;
    font-weight: bolder;
    font-size: larger;
    background-size: 10px;
}

.order-here{
    padding-left: 60px;
    padding-top: 40px;
    font-family: 'suez one';
    color: #013D67;
}
