.link-body .main-link {
    padding: .5rem 1rem; /* Adjust padding as needed */
    position: relative;
    text-decoration: none;
    font-weight: 600;
    color: #013D67; /* Adjust link color */
    transition: color 0.3s; /* Smooth transition for text color */
}

/* Underline pseudo-element */
.link-body .main-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Thickness of the underline */
    bottom: 0;
    left: 0;
    background-color: #013D67; /* Color of the underline */
    transition: width 0.3s ease-out; /* Smooth transition for underline width */
}

/* Hover effect */
.link-body .main-link:hover::after {
    width: 100%; /* Full width on hover */
}

/* Active link styles (optional) */
.link-body .main-link.active {
    color: #013D67; /* Active link text color */
}

.link-body .main-link.active::after {
    width: 100%; /* Full width for active link */
}

.options {
    list-style: none;
    font-size: 20px;
    font-family: 'Poppins'; 
}

/* Media query for small screens */
@media (max-width: 767.98px) {
    .links {
        margin: 10px; /* Remove top margin on small screens */
    }
}

h6{
    font-family: 'Poppins'; 
    font-size: 20px;
}

h5{
    font-family: 'Poppins'; 
    font-size: 18px;
}
.bg-blue{
    background-color: #AAD7F6;
    color: #013D67;
    font-family: 'Poppins'; 
    font-size: 16px;
    font-weight: 500;
}

.orderDate{
    font-size: 15px;
}

.bg-red{
    background-color: #f43737;
    color: white;
    font-family: 'Poppins'; 
    font-size: 16px;
    font-weight: 500;
}
.errorMessage{
    color: red;
    font-size: 17px;
}